body, h2, h3, p{
	margin: 0;
}

.container{
	width: 100%;
	/*clear: both;*/
}

.container.header{
	background: #f7fdfe;
	height: 40px;
	padding-top: 10px;
    padding-bottom: 10px;
}

.row{
	width: 950px;
	margin: 0 auto;
}

/*.row:after{
	clear: both;
}*/

.logo{
	float: left;
	padding: 10px 0;
	text-transform: uppercase;
	color: #82868f;
	font-size: 20px;
}

.menu{
	float: right;
}

.menu ul{
	list-style-type: none;
	margin: 0;
    padding-top: 0;
}

/*.menu ul::after{
	content: "";
	clear: left;
}*/

.menu ul li{
	float: left;
	margin: 0px 5px;
	text-transform: uppercase;
}

.menu ul li a{
	display: block;
	padding: 10px 0px;
    width: 100px;
    font-size: 14px;
    text-align: center;
    color: #82868f;
    text-decoration: none;
}

.menu ul li a:hover{
	background: #0ebfdd;
	border-radius: 30px;
    color: #fff;
}

.container.mission{
	background-image: url('../img/mission.png');
	text-align: center;
	background-size: cover;
	height: 600px;
}

.clearfix:after{
	display: table;
	content: "";
	clear: both;
}

.mission .title{
    padding-top: 350px;
    color: white;
}

.mission .title h2{
	font-size: 44px;
	margin-bottom: 40px;
}

.mission .title h2 i{
	font-size: 15px;
	vertical-align: middle;
}

.mission .title h2 i:first-child{
	margin-right: 15px;
}

.mission .title h2 i:last-child{
	margin-left: 15px;
}

.mission .title p{
	font-size: 20px;
}

.about{
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.about-wrapper h2{
	font-size: 44px;
	margin-bottom: 40px;
	color: #0ebfdd;
}

.about-wrapper p{
	font-size: 20px;
}

